/* navbar */

/* header */
body {
  display: flex;
  flex-direction:column;
  align-items: center;

}
/* main {
  
  background-color: aqua;
} */
header {
 
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.c-link {
  text-decoration: none;
}
.c-menu {
  display: flex;

  flex-direction: row;
  justify-content: end;

}
.menu__logo {
  position: absolute;
  left: 1px;
}

.c-menu a:not(:first-child) {
  display: none;
}

.c-menu__sidenavigation {
  display: none;
}

/* styling for the mobile view */

.menu__mobileSideNavbar {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__mobileSideNavbar li:hover {
  color: var(--clr-accent);
}

/* 
 */

.menu__mobileNavbar a:not(:first-child):hover {
  color: var(--clr-accent);
}

.menu__mobileNavbar a:nth-child(2) {
  top: 30px;
  text-decoration: none;
}
.menu__mobileNavbar a:nth-child(2):hover {
  color: var(--clr-accent);
}

/********************/

.l-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

}

/* container section  */

.c-container {
  display: flex;
  align-items: center;


}

/*color swatches*/

.c-colors {

  width: 100%;
  display: flex;
  flex-direction: column;
}

.c-colors--section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.c-card {
  display: flex;
  flex-direction: column;
}
.c-card-color-1 {
  border: 1px solid var(--clr-grey);
  border-radius: 12px;
  height: 140px;
  width: 140px;
  background-color: var(--clr-white);
}
.c-card-color-2 {
  border-radius: 12px;
  height: 140px;
  width: 140px;
  background-color: var(--clr-black);
}
.c-card-color-3 {
  border-radius: 12px;
  height: 140px;
  width: 140px;
  background-color: var(--clr-grey);
}
.c-card-color-4 {
  border-radius: 12px;
  height: 140px;
  width: 140px;
  background-color: var(--clr-primary);
}
.c-card-color-5 {
  border-radius: 12px;
  height: 140px;
  width: 140px;
  background-color: var(--clr-primary-dark);
}
.c-card-color-6 {
  border-radius: 12px;
  height: 140px;
  width: 140px;
  background-color: var(--clr-secondary);
}
.c-card-color-7 {
  border-radius: 12px;
  height: 140px;
  width: 140px;
  background-color: var(--clr-secondary-dark);
}
.c-card-color-8 {
  border-radius: 12px;
  height: 140px;
  width: 140px;
  background-color: var(--clr-accent);
}
.c-card-color-9 {
  border-radius: 12px;
  height: 140px;
  width: 140px;
  background-color: var(--clr-secondary-accent);
}

.c-card-content {
  margin: 0;
}

/*typography*/

.c-table-row {
  margin-top: 10px;
  width: 100vw;
  display: flex;
  justify-content: start;
}
.c-table-col {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
}
/*styling for the desktop */

@media screen and (min-width: 500px) {
  .l-wrapper{
    overscroll-behavior-y: none;
    display: flex;

   flex-direction: row;
  
  }

  .c-menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .c-menu div{
    display: flex;
  }
  
  .c-menu__icon {
    display: none;
  }
  .c-menu a:not(:first-child) {
    display: block;
  }
 
header {
  position: fixed;
}

main {
  margin-top: 4rem;
}
  .c-menu__sidenavigation {
   width: 20%;
    height: 100vh;
    position: sticky;
    top: 4rem;
    left: 0;
    display: block;
  }
 .c-links{
  display: none;
 }


  main {
    overflow-y: auto;
    height: 10025px;
  }
  .c-menu__sidenavigation li:hover {
    color: var(--clr-accent);
  }
}
