
 /* style variables */

:root {
    --clr-primary: black;
    --clr-secondary: darkgray;
    --clr-accent: darkgray;
    --clr-light:lightgray;
    --clr-white: white;
    --ff-heading: 
    --ff-body: 'Open Sans', sans-serif;
}

 /* ******************** */
  
  /* navbar */
  .c-link{
    text-decoration: none;
    
}
.c-menu {

    
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: end;
    padding: 30px;
}
.menu__logo {
    position: absolute;  
    left: 1px;
}


.c-menu a:not(:first-child){
    display: none;
}



.c-menu__icon
{
position: absolute;
top: 27px;
right: 5px;
}
.c-menu__sidenavigation {
    display: none;
}

/* styling for the mobile view */

.menu__mobileNavbar { 
    position: relative;
}
.menu__mobileSideNavbar {
    position: absolute;
    top: 20%;
display: block;
}

.menu__mobileSideNavbar li:hover{
   
color: var(--clr-accent);
}

.menu__mobileNavbar a:not(:first-child) { 
    position: absolute;
    top: 50px;
    left: 0;
    margin-top: 45px;

    
}

.menu__mobileNavbar a:not(:first-child):hover { 
 
    color: var(--clr-accent);
    
}

.menu__mobileNavbar a:nth-child(2){
    top: 20px;
    text-decoration: none;
    color: var(--clr-primary);
   
}
.menu__mobileNavbar a:nth-child(2):hover{

    color: var(--clr-accent);
}

/********************/

  /*styling for the desktop */

  @media screen and (min-width:500px){
    
    
    .c-menu__icon {
        display: none;
    }
    .c-menu a:not(:first-child){
        display: block;
      
    }
    
    

    .c-menu__sidenavigation {
        width: 15vw;
        display: block;
    }
    .c-menu__sidenavigation li:hover{

        color: var(--clr-accent);
    }
  }