:root {
  --clr-primary: #B0E2FF;
  --clr-primary-dark: #82a8be;
  --clr-secondary: #191970;
  --clr-secondary-dark:#0b0b43;
  --clr-accent: #28bd9c;
  --clr-secondary-accent: #0f5d4c;
  --clr-black: black;
  --clr-white: white;
  --clr-grey: #636363;
  --ff-heading:  'Sacramento', cursive;
  --ff-body: "Open Sans", sans-serif;
}

/*CSS reset*/

* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}
ul,
ol,
li {
  padding: 0;
  list-style: none;
}

body {
  line-height: 1.5rem;
} 

/*utility classes*/

.u-text-decoration-none{
    text-decoration: none;
}
/*margin*/
.u-mt-8 {
  margin-top: 8px;
}
.u-mt-16 {
  margin-top: 16px;
}
.u-mt-32 {
  margin-top: 32px;
}
.u-mb-8{
  margin-bottom: 8px;
}

.u-mb-16{
  margin-bottom: 16px;
}
.u-mb-32{
  margin-bottom: 32px;
}
.u-ml-8{
  margin-left: 8px;
}

.u-m6-16{
  margin-left: 16px;
}
.u-ml-32{
  margin-left: 32px;
}

/*****/
/**font**/
.u-ff-heading {
  font-family: var(--ff-heading);
}

.u-ff-body {
  font-family: var(--ff-body);
}

.u-fs-large {
  font-size: 2rem;
}

.u-fs-medium{
  font-size: 1.5rem;
}

.u-fs-normal{

    font-size: 1rem;
}
.u-fs-small{

  font-size: 0.7rem;
}
.u-fw-normal{
    font-weight: 500;
}

.u-fw-bold {
     font-weight: 700;
}

/******/

/**colors**/
.u-text-primary {
  color: var(--clr-black);
}

.u-text-secondary {
  color: var(--clr-grey);
}
.u-text-accent{
  color: var(--clr-accent);
}
.u-text-accent-secondary{
  color: var(--clr-secondary-accent);
}


.u-bg-primary {
  background-color: var(--clr-primary);
}

.u-bg-primary-dark {
  background-color: var(--clr-primary-dark);
}

.u-bg-secondary {
  background-color: var(--clr-secondary);
}
.u-bg-secondary-dark {
  background-color: var(--clr-secondary-dark);
}
.u-bg-accent {
  background-color: var(--clr-accent);
}
.u-bg-accent-secondary {
  background-color: var(--clr-secondary-accentk);
}




/******/



