:root {
  --clr-primary: #b0e2ff;
  --clr-primary-dark: #82a8be;
  --clr-secondary: #191970;
  --clr-secondary-dark: #0b0b43;
  --clr-accent: #28bd9c;
  --clr-secondary-accent: #0f5d4c;
  --clr-black: black;
  --clr-white: white;
  --clr-grey: #636363;
  --ff-heading: "Sacramento", cursive;
  --ff-body: "Open Sans", sans-serif;
}

/*CSS reset*/

* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}
ul,
ol,
li {
  padding: 0;
  list-style: none;
}

body {
  line-height: 1.5rem;
}

/*utility classes*/

.u-text-decoration-none {
  text-decoration: none;
}
/*margin*/

.l-m-1 {
  margin: 1rem;
}

.l-m-1 {
  margin: 1rem;
}

.l-m-2 {
  margin: 1.25rem;
}

.l-m-3 {
  margin: 1.5rem;
}
.l-m-4 {
  margin: 1.75rem;
}
.l-m-5 {
  margin: 2rem;
}

.l-m-1 {
  margin: 1rem;
}

/* margin top */

.l-mt-1 {
  margin-top: 1rem;
}

.l-mt-2 {
  margin-top: 1.25rem;
}

.l-mt-3 {
  margin-top: 1.5rem;
}
.l-mt-4 {
  margin-top: 1.75rem;
}
.l-mt-5 {
  margin-top: 2rem;
}

/*margin bottom*/
.l-mb-1 {
  margin-bottom: 1rem;
}

.l-mb-2 {
  margin: 1rem;
}

.l-m-2 {
  margin-bottom: 1.25rem;
}

.l-mb-3 {
  margin-bottom: 1.5rem;
}
.l-mb-4 {
  margin-bottom: 1.75rem;
}
.l-mb-5 {
  margin-bottom: 2rem;
}

/* margin left */
.l-m-1 {
  margin: 1rem;
}

.l-ml-1 {
  margin-left: 1rem;
}

.l-ml-2 {
  margin-left: 1.25rem;
}

.l-ml-3 {
  margin-left: 1.5rem;
}
.l-ml-4 {
  margin-left: 1.75rem;
}
.l-ml-5 {
  margin-left: 2rem;
}

/*margin right*/
.l-mr-1 {
  margin-right: 1rem;
}

.l-mr-1 {
  margin-right: 1rem;
}

.l-mr-2 {
  margin-right: 1.25rem;
}

.l-mr-3 {
  margin-right: 1.5rem;
}
.l-mr-4 {
  margin-right: 1.75rem;
}
.l-mr-5 {
  margin-right: 2rem;
}
.l-mx {
  margin-left: 2rem ;
  margin-right: 2rem;
}
.l-mx {
  margin-top: 2rem ;
  margin-bottom: 2rem;
}


/*****/
/**font**/
.u-ff-heading {
  font-family: var(--ff-heading);
}

.u-ff-body {
  font-family: var(--ff-body);
}

.u-fs-large {
  font-size: 2rem;
}

.u-fs-medium {
  font-size: 1.5rem;
}

.u-fs-normal {
  font-size: 1rem;
}
.u-fs-small {
  font-size: 0.7rem;
}
.u-fw-normal {
  font-weight: 500;
}

.u-fw-bold {
  font-weight: 700;
}

/******/

/**colors**/
.u-text-primary {
  color: var(--clr-black);
}

.u-text-secondary {
  color: var(--clr-grey);
}
.u-text-accent {
  color: var(--clr-accent);
}
.u-text-accent-secondary {
  color: var(--clr-secondary-accent);
}

.u-bg-primary {
  background-color: var(--clr-primary);
}

.u-bg-primary-dark {
  background-color: var(--clr-primary-dark);
}

.u-bg-secondary {
  background-color: var(--clr-secondary);
}
.u-bg-secondary-dark {
  background-color: var(--clr-secondary-dark);
}
.u-bg-accent {
  background-color: var(--clr-accent);
}
.u-bg-accent-secondary {
  background-color: var(--clr-secondary-accentk);
}

/******/
