:root{

    --clr-primary: #f2d3d5;
    --clr-secondary: #a4133c;
    --clr-accent: #800080;
    --clr-primary-200: #e2a7ac;
    --clr-primary-300:#bb4f60;
    --clr-accent-2:#008000;
    --clr-black: black;
    --clr-white: white;
    
}

/*utility classes*/

.text-primary{
    color: var(--clr-black);
}

.text-secondary {
    color: var(--clr-white);
}

.bg-primary-100{
     
    background-color: var(--clr-primary);
}

.bg-primary--200 { 
    background-color: var(--clr-primary-200);
}